---
const filters = [
  "Gangas",
  "Abrigos",
  "Short y Pantalones",
  "Vestidos Y Poleras",
  "Accesorios Y Calzado",
  "Tejido Artesanal",
]
---

<ul class="text-gray-600 dark:text-gray-400 [&>li]:mb-4">
  {
    filters.map((filter) => (
      <li>
        <a
          href={`/tienda/${filter}`}
          class="capitalize hover:underline"
        >
          {filter}
        </a>
      </li>
    ))
  }
</ul>
