---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import TextContainer from '@/components/TextContainer.astro'
import Whatsapp from '@/components/Whatsapp.astro'

import banner_left_img from "@public/optimized/comunidad_banner_1.webp"
import banner_center_img from "@public/optimized/comunidad_banner_1.webp"
import banner_right_img from "@public/optimized/comunidad_banner_1.webp"

const banner = [
  {
    title: "Limpía tu clóset",
    description:
      "Seleccioná lo que ya no uses. Recordá que en Amatista, tomamos prendas en perfecto estado, recién lavadas, como nuevas.",
    image: banner_left_img.src,
  },
  {
    title: "Entrega tus prendas",
    description: "Comunicate con nosotros para la entrega de las prendas.",
    image: banner_center_img.src,
  },
  {
    title: "Cobra tus ventas",
    description: "Ganarás un porcentaje de tus ventas",
    image: banner_right_img.src,
  },
]
---

<Layout>
  <SectionContainer variant="darker">
    <TextContainer>
      <h2>VALORAMOS CADA PRENDA POR SU HISTORIA</h2>
    </TextContainer>
    <div class="grid grid-cols-1 md:grid-cols-3 mb-12 gap-4">
      {banner.map(({ title, description, image }) => (
        <div>
          <div
            style={`background-image: url(${image});`}
            class="bg-cover bg-no-repeat bg-center aspect-square"
          />
          <TextContainer>
            <h3>{title}</h3>
            <p>{description}</p>
          </TextContainer>
        </div>
      ))}
    </div>
  </SectionContainer>

  <SectionContainer id='contacto'>
    <TextContainer>
      <h2 class="flex justify-center">Contacto</h2>
    </TextContainer>
    <div class="flex justify-center">
      <form
        action="mailto:contacto@amatistacomunidad.com"
        method="post"
        class="grid w-full max-w-xl grid-cols-2 gap-4"
      >
        <input
          type="text"
          name="name"
          id="form-name"
          placeholder="Nombre"
          class="w-full col-span-2 md:col-span-1 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <input
          type="email"
          name="email"
          id="form-email"
          placeholder="Email"
          class="w-full col-span-2 md:col-span-1 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <input
          type="tel"
          name="phone"
          id="form-phone"
          placeholder="Celular"
          class="w-full col-span-2 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <textarea
          name="message"
          id="form-message"
          cols="30"
          rows="10"
          placeholder="Mensaje"
          set:text=`Hola Amatista Comunidad.\n\nVoy a vender algunas prendas, quiero más espacio en mi armario y sé que ustedes les van a encontrar una nueva vida útil.\n\n¡Quiero unirme a la moda sostenible y ganar algo extra!\n\nGracias.`
          class="w-full col-span-2 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        ></textarea>
        <input
          type="submit"
          value="Enviar"
          class="col-span-2 py-2 text-xl font-semibold duration-200 bg-black hover:opacity-80 text-raw_white dark:text-black dark:bg-raw_white"
        />
      </form>
    </div>
  </SectionContainer>
  <Whatsapp text='Hola, me comunico con amatista porque tengo interés de vender mis prendas en su tienda.'/>
</Layout>
