---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import TextContainer from '@/components/TextContainer.astro'
---

<Layout>
  <SectionContainer>
    <TextContainer>
      <h2 class="text-center">Contacto</h2>
    </TextContainer>
    <div class="flex justify-center">
      <form
        action="#"
        method="post"
        class="grid w-full max-w-xl grid-cols-2 gap-4"
      >
        <input
          type="text"
          name="name"
          id="form-name"
          placeholder="Nombre"
          class="w-full col-span-2 md:col-span-1 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <input
          type="email"
          name="email"
          id="form-email"
          placeholder="Email"
          class="w-full col-span-2 md:col-span-1 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <input
          type="tel"
          name="phone"
          id="form-phone"
          placeholder="Numero"
          class="w-full col-span-2 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        />
        <textarea
          name="message"
          id="form-message"
          cols="30"
          rows="10"
          placeholder="Mensaje"
          class="w-full col-span-2 p-2 rounded-md outline-none focus:border-amatista dark:bg-gray-200"
        ></textarea>
        <input
          type="submit"
          value="Enviar"
          class="col-span-2 py-2 text-xl font-semibold duration-200 bg-black hover:opacity-80 text-raw_white dark:text-black dark:bg-raw_white"
        />
      </form>
    </div>
  </SectionContainer>
</Layout>
