---
import Layout from "@/layouts/Layout.astro"
import TextContainer from "../ui/TextContainer.astro"
---

<Layout
  title="Amatista - Conoce nuestra tienda de indumentaría | second hand shop"
>
  <main class="bg-raw_white text-midnight_green-600">
    <section>
      <TextContainer>
        <h2>quienes somos</h2>

        <h3>Bienvenida a la comunidad Amatista</h3>

        <p>Soy luciana noble, una emprendedora uruguaya nacida en el 2001.</p>
        <p>
          Soy el corazon y la mente detras de esta idea gestada hace mas de 5
          años, desde pequeña siento una gran admiracion por las prendas y el
          sentido de expresar la creatividad a traves de la indumentaria.
        </p>
        <p>
          Evolucionando hacia una idea de comunidad basada en la economia
          circular, la co- creacion con otras mujeres y una idea de vestirnos
          mas sustentablemente.
        </p>
        <p>
          En mis inicios me movio la conexion humana al adquirir prendas de
          aquellas personas que luchas para subsistir vendiendo prendas
          maravillosas en ferias, remates, iglesias o asosiaciones sin fines de
          lucro, que muchas veces brindan ayuda a niñas y niños en situaciones
          complejas, brindandoles asi una valiosa fuente de ingresos tambien a
          ellos.
        </p>
        <p>
          Cada prenda que pasa por nuestras manos se convierte en un diamante
          unico, celebrando la singularidad y el renacimiento de prendas que
          quedaron en el olvido para algunos.
        </p>
        <p>
          Amatista no solo viste si no que trasnforma y alquimiza prendas
          convirtiendo lo ya utilizado en una nueva propuesta de valor y calidad
          para las personas que buscan dejar menos huellas de consumo en su
          camino.
        </p>
        <p>
          En Amatista cada prenda es pulida con amor y esta lista para inciar un
          nuevo capitulo junto a su nuevo portador o portadora.
        </p>
        <p>
          Te invitamos a que te unas a nuestra comunidad, que funciona como una
          cadena de ayuda y donde puedes vestirte de forma autentica, original y
          accesible.
        </p>
        <p>
          En Amatista combinamos la autenticidad, creatividad y calidad de la
          moda en un impacto mas positivo.
        </p>
      </TextContainer>
    </section>
  </main>
</Layout>
