---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="">
  <p>
    Nos unimos para formar una comunidad donde creamos juntas un mundo tanto
    tangible como energético. Aquí, la unión de mujeres trasciende las
    limitaciones, ofreciendo un espacio accesible para todos y todas. Nuestro
    enfoque se centra en un estilo de vida sostenible, minimalista, auténtico y
    unica, diseñada para personas de todos los estilos. ¡Bienvenidos a un lugar
    donde la belleza se encuentra en la diversidad y la autenticidad!
  </p>
</Layout>
