---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import BuyButton from "@/components/BuyButton.astro"
import ContactButton from "@/components/ContactButton.astro"
---

<Layout>
  <SectionContainer>
    <TextContainer>
      <h2>PASOS SENCILLOS PARA COMPRAR EN AMATISTA</h2>
    </TextContainer>
    <div class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-3 gap-y-12 md:gap-y-4">
      <div class="h-full bg-green-300 md:row-span-3 aspect-portrait justify-self-center"></div>
      <div class="py-4 ">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">01</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Elegí tu prenda</h2>
            <p>
              Explorá nuestra amplia gama de productos disponibles en nuestro
              sitio web. Una vez que hayas identificado la prenda que te
              interesa, por favor háznoslo saber.
            </p>
          </TextContainer>
        </div>
      </div>
      <div class="py-4 ">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">02</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Conctactanos</h2>
            <p>
              Escríbenos por WhatsApp o Instagram mencionando la prenda que te
              gustó, adjuntando un enlace o captura de la misma Indícanos tu
              ubicación y el método de pago que prefieres.
            </p>
          </TextContainer>
        </div>
      </div>
      <div class="py-4 ">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">03</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Confirmamos disponibilidad</h2>
            <p>
              Te confirmaremos la disponibilidad de la prenda, responderemos
              cualquier pregunta que tengas Una vez que estés listo para
              realizar la compra, procede con el pago según el método acordado.
            </p>
          </TextContainer>
        </div>
      </div>
    </div>
  </SectionContainer>

  <SectionContainer>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-3 gap-y-12 md:gap-y-4 md:gap-x-12">
      <div class="py-4">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">04</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Realizá el pago</h2>
            <p>
              Después de realizar el pago, envíanos el comprobante de la
              transacción.
            </p>
            <a href="#metodos-de-pago"
              ><h3>Revisa aqui nuestros métodos de pago</h3>
            </a>
          </TextContainer>
        </div>
      </div>

      <div
        class="hidden md:block h-[700px] row-span-3 bg-green-300 aspect-portrait justify-self-end"
      >
      </div>

      <div class="py-4 ">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">05</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Detalles del envio</h2>
            <p>
              Proporciona los detalles de envío, incluyendo tu nombre completo,
              dirección de entrega (localidad, sucursal o dirección si
              solicitaste un envío a domicilio ) y número de teléfono.
            </p>
          </TextContainer>
        </div>
      </div>

      <div class="py-4 ">
        <div class="flex gap-4">
          <span class="text-4xl font-bold text-golden">06</span>
          <TextContainer class="pr-12 md:pr-0">
            <h2>Enviamos tu paquete</h2>
            <p>
              Una vez recibido el comprobante de pago y los datos de envío,
              procesaremos tu pedido. Te enviaremos el paquete en las próximas
              48 horas y te proporcionaremos el número de seguimiento mediante
              una foto del comprobante.
            </p>
          </TextContainer>
        </div>
      </div>
    </div>
  </SectionContainer>

  <SectionContainer>
    <div class="flex justify-center">
      <BuyButton>Visita nuestra tienda</BuyButton>
    </div>
  </SectionContainer>

  <SectionContainer id="metodos-de-pago">
    <TextContainer class="px-4">
      <h2>Métodos de pago</h2>
      <h3>Mercado Pago</h3>
      <p>
        Avísanos para crear tu código QR o enlace de pago, donde podrás abonar
        hasta en 12 cuotas.
      </p>

      <h3>Transferencia o depósito Prex</h3>
      <ul>
        <li>Nombre: Luciana Noble</li>
        <li>Cuenta para transferir: 1044286</li>
      </ul>
      <h3>Depósito en Abitab</h3>
      <ul>
        <li>Cuenta: 5.271.357-8 (gratuito)</li>
      </ul>

      <h3>Transferencia Midinero Nacional</h3>
      <ul>
        <li>Cuenta: 2586119</li>
        <li>Nombre: Luciana Noble</li>
      </ul>

      <h3>Depósito en Red Pagos Midinero Nacional</h3>
      <ul>
        <li>Cuenta: 5.271.357-8</li>
        <li>Nombre: Luciana Noble - Costo del depósito: $50</li>
      </ul>

      <p><strong>Efectivo únicamente en Maldonado / Punta del Este</strong></p>
      <p>
        Por favor, selecciona el método de pago que prefieras y avísanos para
        proporcionarte los detalles necesarios para completar la transacción. Si
        tienes alguna pregunta adicional, no dudes en contactarnos.
      </p>
    </TextContainer>

    <div class="flex justify-center mt-12">
      <ContactButton>contactame</ContactButton>
    </div>
  </SectionContainer>
</Layout>
