---
import Layout from '@/layouts/Layout.astro'
import TextContainer from '@/components/TextContainer.astro'
import Privacy from './Privacy.astro'
import Refund from './Refund.astro'
import TermsAndConditions from './TermsAndConditions.astro'
---

<Layout
  title="Amatista - Politicas de Privacidad | Reembolso | Terminos & Condiciones"
>
  <section
    id="politicas-de-privacidad"
    class="py-12"
  >
    <div class="max-w-4xl mx-auto">
      <TextContainer>
        <Privacy />
      </TextContainer>
    </div>
  </section>

  <section id="politicas-de-reembolso">
    <div class="max-w-4xl mx-auto">
      <TextContainer>
        <Refund />
      </TextContainer>
    </div>
  </section>

  <section
    id="terminos-y-condiciones"
    class="py-12"
  >
    <div class="max-w-4xl mx-auto">
      <TextContainer>
        <TermsAndConditions />
      </TextContainer>
    </div>
  </section>
</Layout>
