<h2>Política de devoluciones y reembolsos:</h2>

<ol>
  <li>
    <h3>Plazo de devolución</h3>

    <p>
      Una vez que nos notifiques la rescisión del paquete, tienes un plazo de 48
      horas para solicitar la realización de un cambio de la prenda o accesorio
      que compraste.
    </p>
  </li>

  <li>
    <h3>Procedimiento para clientes de Maldonado</h3>
    <ul>
      <li><p>Podemos coordinar un encuentro para el intercambio.</p></li>

      <li>
        <p>
          También puedes pasar a probarte cerca de Punta Shopping (previa
          agenda).
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h3>Procedimiento para clientes del interior del país</h3>
    <ul>
      <li>
        <p>
          El cliente deberá cubrir los costos de envío del paquete tanto al
          momento de enviarlo como al momento de recibirlo nuevamente.
        </p>
      </li>

      <li>
        <p>
          Es importante que la prenda este en las mismas condiciones que la
          recibiste (sin roturas, manchas, etc)
        </p>
      </li>

      <li><p>El paquete puede estar en otro embalaje.</p></li>

      <li>
        <p>
          Enviarlo por la misma agencia que lo recibiste con los datos: Luciana
          Noble \ Punta del Este \ 092 059 638
        </p>
      </li>

      <li>
        <p>
          Luego de que recibamos el paquete de vuelta volvemos a enviarte tu
          paquete con la prenda que seleccionaste dentro de las siguientes 48hrs
          hábiles
        </p>
      </li>
    </ul>
  </li>

  <li>
    <h3>Importante</h3>
    <ul>
      <li>
        <p>
          Cada prenda es única, por lo que te recomendamos consultar todas tus
          dudas antes de realizar la compra para evitar gastos adicionales.
        </p>
      </li>

      <li>
        <p>
          Para cualquier consulta adicional, no dudes en contactarnos. Espero
          que esta política de devolución cumpla con tus necesidades. Si tienes
          alguna otra pregunta o solicitud, no dudes en consultarnos.
        </p>
      </li>
    </ul>
  </li>
</ol>
