---
import Typographi from './foundations/Typographi.astro'

enum VariantClasses {
  RESPONSIVE = 'dark:bg-raw_white dark:text-black bg-black text-white',
  BLACK = 'bg-black text-white',
  WHITE = 'bg-raw_white text-black',
}

interface Props {
  variant?: keyof typeof VariantClasses
  href?: string
  class?: string
}

const {
  href = '/tienda#',
  variant = VariantClasses.RESPONSIVE,
  class: className,
} = Astro.props

const classes = [
  VariantClasses[variant as keyof typeof VariantClasses],
  className,
]
---

<a href={href}>
  <div
    class:list={classes}
    class='px-12 py-2 text-center duration-200 hover:opacity-80 w-fit'
  >
    <Typographi as='p' variant='BODY' class='font-bold'
      ><slot></slot>
    </Typographi>
  </div>
</a>
