---
interface Props {
  class?: string
  id?: string
  variant?: 'light' | 'darker'
}

const { class: className, variant = 'light', id } = Astro.props
---

<section
  id={id}
  class="py-12"
  class:list={[
    className,
    { 'bg-white dark:bg-black dark:bg-opacity-95': variant === 'light' },
    { 'bg-raw_white dark:bg-black': variant === 'darker' },
  ]}
>
  <div class="max-w-sm mx-auto md:max-w-2xl lg:max-w-6xl">
    <slot />
  </div>
</section>
