---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import ContactButton from "@/components/ContactButton.astro"

import hero_image from "@public/optimized/nosotras_hero.webp"
import owner_img_1 from "@public/optimized/nosotras_sec_3.webp"
import owner_img_2 from "@public/optimized/nosotras_sec_2.webp"
import owner_img_3 from "@public/optimized/nosotras_sec_1.webp"
---

<Layout>
  <section class="relative">
    <div
      class="w-full h-screen bg-center bg-no-repeat bg-cover aspect-video"
      style={`background-image: url(${hero_image.src});`}
    >
    </div>
    <span class="absolute top-0 left-0 w-full h-full bg-black/60"></span>
    <div
      class="absolute w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    >
      <div class="flex flex-col items-center">
        <h2 class="text-3xl md:text-5xl uppercase text-raw_white font-lora text-center">
          Bienvenida a la comunidad
        </h2>
        <h2 class="text-3xl md:text-5xl uppercase text-amatista font-lora">Amatista</h2>
      </div>
    </div>
  </section>

  <SectionContainer>
    <article class="grid grid-cols-1 mb-20 md:grid-cols-2">
      <div class="justify-self-center place-content-center">
        <TextContainer class="max-w-80">
          <h3>
            En Amatista combinamos la autenticidad, creatividad y calidad de la
            moda en un impacto más positivo.
          </h3>
        </TextContainer>
      </div>
      <div>
        <div
          style={`background-image: url(${owner_img_1.src});`}
          class="bg-cover bg-center w-full max-w-[400px] h-auto aspect-square"
        >
        </div>
      </div>
    </article>

    <article class="grid grid-cols-1 mb-20 md:grid-cols-2">
      <div class="place-self-center">
        <div
          style={`background-image: url(${owner_img_3.src});`}
          class="bg-cover bg-center w-full h-auto max-w-[400px] aspect-portrait"
        >
        </div>
      </div>
      <div class="text-2xl place-content-center font-roboto max-w-96">
        <TextContainer>
          <p>Soy <strong>Luciana Noble</strong>, una emprendedora uruguaya nacida en 2001.</p>
          <p>
            Soy el corazón y la mente detrás de esta idea gestada hace más de 5
            años.
          </p>
          <p>
            Desde pequeña siento una gran admiración por las prendas y el
            sentido de expresar la creatividad a través de la indumentaria.
          </p>
        </TextContainer>
      </div>
    </article>

    <article class="grid grid-cols-1 md:grid-cols-2">
      <div class="place-self-center">
        <h3 class="pl-16 mb-4 text-5xl uppercase font-lora text-amatista">
          Amatista
        </h3>
        <div class="mb-4 ">
          <p
            class="p-10 text-2xl italic max-w-96 font-roboto bg-raw_white text-balance"
          >
            Evolucionando hacia una idea de comunidad basada en la economía
            circular, la co-creación con otras mujeres y una idea de vestirnos
            más sustentablemente.
          </p>
        </div>
        <div class="text-2xl max-w-96 font-roboto">
          <TextContainer>
            <p>
              Cada prenda que pasa por nuestras manos se convierte en un
              diamante único, celebrando la singularidad y el renacimiento de
              prendas que quedaron en el olvido para algunos.
            </p>
            <p>
              Amatista no solo viste si no que transforma y alquimiza prendas
              convirtiendo lo ya utilizado en una nueva propuesta de valor y
              calidad para las personas que buscan dejar menos huellas de
              consumo en su camino.
            </p>
            <p>
              En Amatista cada prenda es pulida con amor y está lista para
              iniciar un nuevo capítulo junto a su nuevo portador o portadora.
            </p>
            <p>
              Te invitamos a que te unas a nuestra comunidad, que funciona como
              una cadena de ayuda y donde puedes vestirte de forma auténtica,
              original y accesible.
            </p>
          </TextContainer>
        </div>
      </div>
      <div>
        <div class="mb-4">
          <div
            style={`background-image: url(${owner_img_2.src});`}
            class="bg-cover bg-center w-full h-auto max-w-[400px] aspect-portrait"
          >
          </div>
        </div>
        <div class="text-2xl max-w-96 font-roboto">
          <TextContainer>
            <p>
              En mis inicios me movió la conexión humana al adquirir prendas de
              aquellas personas que luchan para subsistir. Vendiendo prendas maravillosas en ferias, remates, iglesias o
              asociaciones sin fines de lucro, que muchas veces brindan ayuda a
              niñas y niños en situaciones complejas, brindándoles así una
              valiosa fuente de ingresos también a ellos.
            </p>
          </TextContainer>
        </div>
      </div>
    </article>
  </SectionContainer>

  <SectionContainer>
    <div class="flex justify-center">
      <ContactButton>contáctame</ContactButton>
    </div>
  </SectionContainer>
</Layout>
