---
import Layout from '@/layouts/Layout.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import TextContainer from '@/components/TextContainer.astro'
---

<Layout>
  <SectionContainer>
    <TextContainer class="max-w-3xl mx-auto text-justify">
      <h2 class="text-center">Quiénes somos</h2>

      <h3>Bienvenida a la comunidad Amatista</h3>

      <p>Soy Luciana Noble, una emprendedora uruguaya nacida en 2001.</p>
      <p>
        Soy el corazón y la mente detrás de esta idea gestada hace más de 5
        años. Desde pequeña siento una gran admiración por las prendas y el
        sentido de expresar la creatividad a través de la indumentaria.
      </p>
      <p>
        Evolucionando hacia una idea de comunidad basada en la economía
        circular, la co-creación con otras mujeres y una idea de vestirnos más
        sustentablemente.
      </p>
      <p>
        En mis inicios me movió la conexión humana al adquirir prendas de
        aquellas personas que luchan para subsistir vendiendo prendas
        maravillosas en ferias, remates, iglesias o asociaciones sin fines de
        lucro, que muchas veces brindan ayuda a niñas y niños en situaciones
        complejas, brindándoles así una valiosa fuente de ingresos también a
        ellos.
      </p>
      <p>
        Cada prenda que pasa por nuestras manos se convierte en un diamante
        único, celebrando la singularidad y el renacimiento de prendas que
        quedaron en el olvido para algunos.
      </p>
      <p>
        Amatista no solo viste si no que transforma y alquimiza prendas
        convirtiendo lo ya utilizado en una nueva propuesta de valor y calidad
        para las personas que buscan dejar menos huellas de consumo en su
        camino.
      </p>
      <p>
        En Amatista cada prenda es pulida con amor y está lista para iniciar un
        nuevo capítulo junto a su nuevo portador o portadora.
      </p>
      <p>
        Te invitamos a que te unas a nuestra comunidad, que funciona como una
        cadena de ayuda y donde puedes vestirte de forma auténtica, original y
        accesible.
      </p>
      <p>
        En Amatista combinamos la autenticidad, creatividad y calidad de la moda
        en un impacto más positivo.
      </p>
    </TextContainer>
  </SectionContainer>
</Layout>
