---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import BuyButton from "@/components/BuyButton.astro"
import heroImg from "@public/optimized/comunidad_hero.webp"
import bannerLeftImg from "@public/optimized/comunidad_banner_1.webp"

const banner = [
  {
    title: "Limpiá tu closet",
    description:
      "Seleccioná lo que ya no uses. Recordá que en Amatista, tomamos prendas en perfecto estado, recién lavadas, como nuevas.",
    image: bannerLeftImg.src,
  },
  {
    title: "Entregá tus prendas",
    description: "Comunicate con nosotros para la entrega de las prendas.",
    image: bannerLeftImg.src,
  },
  {
    title: "Cobrá tus ventas",
    description: "Ganarás un porcentaje de tus ventas",
    image: bannerLeftImg.src,
  },
]
---

<Layout>
  <!-- Hero -->
  <section>
    <div class="relative z-0">
      <div
        style={`background-image: url(${heroImg.src});`}
        class="h-screen w-full bg-cover bg-center bg-no-repeat"
      >
      </div>
      <span class="absolute top-0 left-0 h-screen w-full bg-black/50"></span>
      <div class="absolute h-screen w-full top-0 left-0">
        <div
          class="flex h-full flex-col text-center justify-center items-center"
        >
          <h2 class="text-raw_white text-5xl font-bold">
            REVOLUCIONANDO LA CULTURA
          </h2>
          <h2 class="text-raw_white text-5xl font-bold">
            COLABORATIVA MIENTRAS
          </h2>
          <h2 class="text-raw_white text-5xl font-bold mb-6"><strong class="text-amatista">CO-CREAMOS</strong></h2>

          <p class="text-raw_white text-3xl font-normal font-roboto">
            UNA VISIÓN COMPARTIDA DEL FUTURO PARA LOGRAR NUESTRA
          </p>
          <p class="text-raw_white text-3xl font-normal font-roboto mb-12">
            <strong class="text-amatista">SOSTENIBILIDAD.</strong>
          </p>

          <a
            href="/contacto"
            class="uppercase text-xl text-raw_white font-semibold border-raw_white border-4 py-4 px-12 hover:backdrop-blur hover:text-raw_white/75 hover:border-raw_white/75 duration-300"
            >contactame
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner -->

  <!-- Banner -->
  <SectionContainer variant="darker">
    <TextContainer>
      <h2>VALORAMOS CADA PRENDA POR SU HISTORIA</h2>
    </TextContainer>
    <div class="grid grid-cols-3 mb-12 gap-4">
      {banner.map(({ title, description, image }) => (
        <div>
          <div
            style={`background-image: url(${image});`}
            class="bg-cover bg-no-repeat bg-center aspect-square"
          />
          <TextContainer>
            <h3>{title}</h3>
            <p>{description}</p>
          </TextContainer>
        </div>
      ))}
    </div>
    <div class="flex justify-center">
      <BuyButton href="/contacto">CONTACTANOS</BuyButton>
    </div>
  </SectionContainer>
  <!-- End Banner -->

  <!-- Banner Cupones -->
  <SectionContainer>
    <div class="bg-amatista p-4 max-w-4xl mx-auto text-center">
      <h2 class="text-raw_white text-4xl font-semibold">
        UTILIZA NUESTROS CUPONES DEL
      </h2>
      <h2 class="text-raw_white text-4xl font-semibold">
        10% DESCUENTO EN LAS TIENDAS DE NUESTROS ALIADOS
      </h2>
    </div>
  </SectionContainer>
  <!-- End Banner Cupones -->
</Layout>
