---
import SectionContainer from '@/components/SectionContainer.astro'
import TextContainer from '@/components/TextContainer.astro'

import leftImage from "@public/optimized/home_categories_1.webp"
import centerImage from "@public/optimized/home_categories_2.webp"
import rightImage from "@public/optimized/home_categories_3.webp"

interface Texts {
  title_1: string
  title_2: string
  title_3: string
}

interface Props {
  texts: Texts
}

const { texts } = Astro.props

const banners = [
  {
    img: leftImage.src,
    text: texts.title_1,
    href: '/tienda/vestidos',
  },
  {
    img: centerImage.src,
    text: texts.title_2,
    href: '/tienda/blusas',
  },
  {
    img: rightImage.src,
    text: texts.title_3,
    href: '/tienda',
  },
]
---

<SectionContainer>
  <div class="grid grid-cols-3 gap-2 md:gap-10">
    {
      banners.map(({ img, text, href }) => {
        return (
          <a
            href={href}
            class="group"
          >
            <img
              src={img}
              alt="ropa"
              class="mb-2"
            />
            <TextContainer
              class="text-center "
              hover={true}
            >
              <h3>{text}</h3>
            </TextContainer>
          </a>
        )
      })
    }
  </div>
</SectionContainer>
