---
import TextContainer from '@/components/TextContainer.astro'
import kitReikiImg from '@public/images/kit-reiki.png'
const images = {
  right: kitReikiImg.src,
}
const texts = {
  title: 'Kit de sanación',
  content:
    'New hand picked vintage pieces are dropped on the site almost every Thursday at 12PM CT. Be sure to check back to see what items are dropping week to week.',
  cta: 'just-in pieces',
}
---

<section class="py-10 bg-raw_white">
  <div class="max-w-6xl mx-auto">
    <div class="flex">
      <div class="w-2/3 p-12 bg-amatista text-raw_white">
        <TextContainer variant="white">
          <h2>{texts.title}</h2>
          <p>
            En Amatista estamos encantados de presentarte nuestro exclusivo Kit
            de Sanación Energética.
          </p>

          <p>
            Cada prenda pre amada tiene su propia historia y energía acumulada a
            lo largo del tiempo. Nuestro pequeño kit está diseñado para limpiar
            y revitalizar estas prendas, dejándolas listas para que te envuelvan
            con una nueva sensación de frescura y vitalidad.
          </p>

          <h3>
            Podrás disfrutar de prendas que no solo lucen bien, sino que también
            te hacen sentir bien.
          </h3>
        </TextContainer>
      </div>
      <div class="w-1/3">
        <div
          style=`background-image: url(${images.right});`
          class="w-full h-full bg-center bg-no-repeat bg-cover"
        >
        </div>
      </div>
    </div>
  </div>
</section>
