---
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import kitHealingImg from "@public/optimized/home_kitsanacion.webp"

interface Texts {
  title: string
  subtitle: string
  content: string
}

interface Props {
  texts: Texts
}

const images = {
  right: kitHealingImg.src,
}

const { texts } = Astro.props
---

<SectionContainer variant="darker">
  <div class="grid grid-cols-3">
    <div class="bg-amatista col-span-2 p-10">
      <TextContainer variant="white">
        <h2>{texts.title}</h2>
        <p>
          Descubrí el poder de la sanación a través de nuestro kit intencionado
          para activar la energía de tus prendas y conectar con ellas a un nivel
          más profundo, potenciando tu estilo y energía personal.
        </p>

        <p>
          Con la ayuda de una amatista, gran transmutadora de energías y un
          incienso para crear outfits poderosamente mágicos que te acompañen en
          un viaje expansivo y sanador.
        </p>

        <p>
          Nuestro compromiso es asegurarnos que recibas tus prendas con la
          energía y el propósito adecuado, luego de nuestra atenta preselección
          de cada una de ellas.
        </p>

        <h3>Transforma tu experiencia de vestir con nuestro kit</h3>
      </TextContainer>
    </div>
    <div>
      <div
        style=`background-image: url(${images.right});`
        class="h-full w-full bg-center bg-no-repeat bg-cover"
      >
      </div>
    </div>
  </div>
</SectionContainer>
