---
import ContactButton from "@/components/ContactButton.astro"
import ImageTransition from "@/components/ImageTransition.astro"
import heroImg1 from "@public/optimized/home_hero_1.webp"
import heroImg2 from "@public/optimized/home_hero_2.webp"
import heroImg3 from "@public/optimized/home_hero_3.webp"

const items = [
  {
    imageUrl: heroImg1.src,
    text: "Con conciencia y propósito elegí ser <strong>sostenible</strong>",
  },
  {
    imageUrl: heroImg2.src,
    text: "Tu compra tu <strong>contribución</strong> con nuestra madre tierra",
  },
  {
    imageUrl: heroImg3.src,
    text: "Vestimos cuerpos sagrados con prendas <strong>únicas</strong>",
  },
]

interface Texts {
  content: string
  cta: string
}

interface Props {
  texts: Texts
}
---

<section class="relative z-0 bg-black">
  <ImageTransition items={items} />
  <div class="absolute bottom-1/4 left-0 w-full">
    <div class="flex justify-center">
      <ContactButton variant="white" href="/tienda" target="_self"
        >compra ahora
      </ContactButton>
    </div>
  </div>
</section>
