---
import BuyButton from "@/components/BuyButton.astro"
import ImageTransition from "@/components/ImageTransition.astro"

const items = [
  {
    imageUrl: "/images/pages/home/hero-bg-1.jpeg",
    text: "Con conciencia y propósito elegí ser <strong>sostenible</strong>",
  },
  {
    imageUrl: "/images/pages/home/hero-bg-2.jpeg",
    text: "Tu compra tu <strong>contribución</strong> con nuestra madre tierra",
  },
  {
    imageUrl: "/images/pages/home/hero-bg-3.jpeg",
    text: "Vestimos cuerpos sagrados con prendas <strong>únicas</strong>",
  },
]

interface Texts {
  content: string
  cta: string
}

interface Props {
  texts: Texts
}

const { texts } = Astro.props
---

<section class="bg-black relative z-0">
  <ImageTransition items={items} />
  <div class="absolute bottom-1/4 left-1/2 -translate-x-1/2">
    <BuyButton dark={false}>{texts.cta}</BuyButton>
  </div>
</section>
