---
import SectionContainer from '@/components/SectionContainer.astro'
import TextContainer from '@/components/TextContainer.astro'
import testImage from '@public/images/products/1_1.webp'
const banners = [
  {
    img: testImage.src,
    text: 'vestidos',
    href: '/tienda/Vestidos',
  },
  {
    img: testImage.src,
    text: 'blusas y camisas',
    href: '/tienda/Blusas',
  },
  {
    img: testImage.src,
    text: 'tejidos',
    href: '/tienda',
  },
]
---

<SectionContainer>
  <div class="grid grid-cols-3 gap-10">
    {
      banners.map(({ img, text, href }) => {
        return (
          <a
            href={href}
            class="group"
          >
            <img
              src={img}
              alt="ropa"
              class="mb-2"
            />
            <TextContainer
              class="text-center "
              hover={true}
            >
              <h3>{text}</h3>
            </TextContainer>
          </a>
        )
      })
    }
  </div>
</SectionContainer>
