---
import Product from "./Product.astro"
interface ProductProps {
  title: string
  price: number
  imageUrl: string
  isSoldout: boolean
  href: string
}
interface SectionGalleryImages {}
interface SectionGalleryTexts {
  title: string
  callToAction: string
}
interface Props {
  images: SectionGalleryImages
  texts: SectionGalleryTexts
  products: ProductProps[]
  href: string
}
const { images, texts, products, href } = Astro.props
---

<section
  class="flex flex-col items-center justify-center w-full p-4 md:p-12 bg-raw_white"
>
  <h2 class="self-start py-16 text-3xl md:text-5xl font-semibold uppercase">
    {texts.title}
  </h2>
  <div
    class="container grid row-auto grid-cols-2 md:grid-cols-4 gap-y-6 md:gap-y-12 gap-x-2 md:gap-x-12"
  >
    {products.map((product) => <Product {...product} />)}
  </div>

  <a
    class="inline-block px-16 py-3 md:px-12 mt-8 text-3xl md:text-2xl font-semibold duration-300 rounded-md bg-midnight_green-900 text-raw_white hover:bg-amatist-300 hover:text-midnight_green-900"
    href={href}
    >{texts.callToAction}</a
  >
</section>
